

h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 50px;
	text-align:center;
}


/* Prev. Exp. */
.fire{
	background-color: firebrick;
  padding: 50px;
  text-align: center;
  margin: 100px;
  border: 15px;
  border-radius: 50px;
/* the rounded edges is the new thing from outside of class - i think its pretty dope */
}


/* 1st, Name box */
.earth{
background-color: black;
color: goldenrod;
  padding: 50px;
text-align: center;
margin: 100px;
border-radius: 20px;
}

/* 2nd is immage, named later */

/* 3rd, bio, yellow */
.air{
  background-color: gold;
    padding: 50px;
text-align: center;
margin: 100px;
border-radius: 50px;
}

/* last, Intrest n Hobbies */
.water{
	background-color: darkblue;
	border: 25px yellow;
  padding: 50px;
text-align: center;
margin: 100px;
border-radius: 50px;
}





/* simple underlining class */
.underlinejunk{
	text-decoration: underline;
}
/* ^ the class above is used more than once */



/* back ground color */
body{
	background-color: grey;
}


h2{
	font-size: 25px;
}

p{
	font-family: 'Forum', cursive;
  font-size: 25px;
}

/* adds color to links */
a {
  color: hotpink;
}


/* removes underline */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


/* adds hover color */
a:hover {
  background-color: lightgreen;
}



/* adds bullet points */
ul {
	list-style-type: disc;
	list-style-position: inside;
}


/* fuckery (table trouble) */
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
  height: 30px;
  font-size: 20px;
}


/* */
#centerimg{
	display:block;
	margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#addressID{
	color: deeppink;
}
